@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Rental</h1>
    <p class="lead">Choose the movie you want to rent.</p>
    <p><a href="https://localhost:44315/moviemays" class="btn btn-primary btn-lg">Select Your MOVIE &raquo;</a></p>
</div>
<table class="table">

</table>